:local {
  .footer {
    color: #777;
    width: 40rem;
    margin: 2rem auto 0;
  }
  .link {
    text-decoration: none;
    color: #777;
    margin-left: 0.5rem;
    &:not(:last-child)::after {
      content: '|';
      margin-left: 0.5rem;
      font-size: 0.8rem;
      font-weight: bold;
      color: #aaa;
    }
  }
}
